*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* font-size:16px; */
   }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



/*.header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  background-position: top;
   }
*/


.header__logo-box {
  position: absolute;
  top: 15rem;
  left: 76rem; 
  z-index: 100;
}

.header__logo {
  width: 16.5rem; 
  height: auto;
}

.header__text-box {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

  .main-nav{
    float:right;
    font-size:20px;
    font-weight: 600;
    position: relative;
    list-style: none;
    margin-top:25px;
    margin-right: 35px;
    z-index: 3000;
  }
  .main-nav li{
    display: inline-block;
    text-decoration: none;
    margin-left:20px;
  }
  .main-nav li a:link,
  .main-nav li a:visited{
    padding:8px 0px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    border: 2px solid transparent;
    transition: border-bottom 0.2s;
  }
  .main-nav li a:hover,
  .main-nav li a:active{
    border-bottom: 2px solid #e7d9ce;
  }

  
  body{
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;   
   }
   
   .box {
   
       position: absolute;
       top: 50% ;
       left: 50%;
       transform: translate(-50%,-50%);
       width: 400px;
       padding: 40px;
       background: rgba(5, 39, 39, 0.8);
       box-sizing: border-box;
       box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
       border-radius: 5px;
     }

     
     .box h2 {
     
       margin: 0 0 30px;
       padding: 0 ;
       color: #fff;
       text-align: center;
     
     }
     
     .box .inputbox  {
       position: relative;
     }
     
     .box .inputbox input{
     width: 100%;
     padding: 10px 0;
     font-size: 16px;
     color: #fff;
     margin-bottom: 30px;
     border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     background: transparent;
     
     }

     input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
     
     .box .inputbox label {
     
       position: absolute;
       top: 0;
       left: 0;
       padding: 10px 0;
       font-size: 16px;
       color: #fff;
       pointer-events: none;
       transition: 0.5s;
     
     }
     
     .box .inputbox input:focus ~ label,
     .box .inputbox input:valid ~ label {
     
       top: -20px;
       left: 0;
       color: #03a9f4;
       font-size: 12px;
     
     }
     
      .box input[type="submit"] {
     
       background: transparent;
       outline: none;
       border: none;
       color: #fff;
       background: #03a9f4;
       padding: 10px 20px;
       cursor: pointer;
       border-radius: 5px;
      }

      
  .popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    
  }
  
  .popup:target {
  opacity: 1;
  visibility: visible;
  animation-name: conditionalOpen ;
  animation-duration: .4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  
  }

.close_button:link,
.close_button:visited{
  color:#fff;
  position: absolute;
  top: 1rem;
  left: 11.5em;
  z-index:8000;
  font-size: 3rem;
  font-weight: 100;
  text-decoration: none;
  animation-name: closeWindow ;
  animation-duration: .4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}   


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

    @keyframes conditionalOpen {
      from { transform: scaleY(0) }
      to { transform: scaleY(1) }
  }
 
  @keyframes closeWindow {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}